---
import Card from "./Card.astro";
import postExcerpt from "../../utils/post-excerpt.mjs";

interface Props {
  posts: Record<string, any>[];
  area: string;
}

const { posts, area } = Astro.props;

const sortedPosts: Record<string, any>[] = posts.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<div class="space-y-24">
  {
    sortedPosts.map((post) => (
      <Card
        url={`/${area}/${post.frontmatter.slug}`}
        title={post.frontmatter.title}
        pubDate={post.frontmatter.pubDate}
        excerpt={postExcerpt(post.compiledContent())}
        Content={post.Content}
        categories={post.frontmatter.categories}
        readingTime={post.frontmatter.readingTime}
        area={area}
      />
    ))
  }
</div>
