---
import PostCard from "./PostCard.astro";
import Settings from "../../settings.json";

interface Props {
  posts: Record<string, any>[];
  path: string;
}

const { posts, path } = Astro.props;

const sortedPosts: Record<string, any>[] = posts.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<div class="space-y-24">
  {
    sortedPosts.map((post) => (
      <PostCard
        url={`${path}/${post.frontmatter.slug}`}
        title={post.frontmatter.title}
        pubDate={post.frontmatter.pubDate}
        author={Settings.author}
        Content={post.Content}
        categories={post.frontmatter.categories}
      />
    ))
  }
</div>
