---
import PostLayout from "../../layouts/PostLayout.astro";
import PostMeta from "./PostMeta.astro";
import Settings from "../../settings.json";
import ContentContainer from "./ContentContainer.astro";

const { post, area } = Astro.props;
---

<PostLayout title={post.frontmatter.title} area={area}>
  <article class="">
    <h1 class="text-5xl font-bold mb-14">
      {post.frontmatter.title}
    </h1>
    <PostMeta
      categories={post.frontmatter.categories}
      pubDate={post.frontmatter.pubDate}
      readingTime={post.frontmatter.readingTime}
    />
    <ContentContainer>
      <post.Content />
    </ContentContainer>
  </article>
</PostLayout>
